<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESIZen</title>
    <link rel="stylesheet" href="./../src/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/style.css">
    <link rel="stylesheet" href="./../src/css/bootstrap-icons.min.css">
</head>
<body>
    <main class="d-flex flex-column" style="height:100vh">


        <header id="page_header"></header>

        <div class="flex-grow-1 py-4">
            <div class="container h-100">
                <div class="mb-5">
                    <h2 class="text-center">Base de données utilisateur</h2>

                    <input type="search" placeholder="Nom ou ID d'utilisateur" name="" id="adminSearchBar" class="mx-auto form-control w-50">
                </div>

                <!-- FILTERS -->
                <div class="d-flex justify-content-center mb-3">
                    <input type="radio" name="typeUser" id="adminAllUsers" class="btn-check adminFilter" checked>
                    <label class="btn btn-outline-primary me-2" for="adminAllUsers">Tous les utilisateurs</label>

                    <input type="radio" name="typeUser" id="adminBlacklist" class="btn-check me-2 adminFilter">
                    <label class="btn btn-outline-primary me-2" for="adminBlacklist">Blacklist</label>

                    <input type="radio" name="typeUser" id="adminWhitelist" class="btn-check adminFilter">
                    <label class="btn btn-outline-primary" for="adminWhitelist">Whitelist</label>
                </div>
                
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Inscription</th>
                            <th>Dernier changement de statut</th>
                            <th>Statut</th>
                            <th>Promotion</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Précédent</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">4</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">5</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">Suivant</a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>


        <footer id="page_footer"></footer>
    </main>

</body>
<script src="./../src/js/jquery.min.js"></script>
<script src="./../src/js/bootstrap.bundle.min.js"></script>
<script src="./../scripts/main.js"></script>
<script src="./../scripts/admin.js"></script>
</html>