<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESIZen</title>
    <link rel="stylesheet" href="./../src/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/style.css">
</head>
<body>
    <main class="d-flex flex-column" style="height:100vh">

        <header class="bg-primary mb-4">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="w-auto d-flex align-items-center">
                        <a href="../index.html" class="link-light link-underline-opacity-0">
                            <h1>CESIZen</h1>
                        </a>
                        <div class="d-flex ms-4">
                            <div class="dropdown show">
                                <a 
                                    href="#" 
                                    role="button" 
                                    id="dropdownNotif" 
                                    data-bs-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false" 
                                    class="link-light link-underline-opacity-0">
                                    Notifications
                                </a>

                                <div class="dropdown-menu bg-light-subtle" style="width:480px " aria-labelledby="dropdownNotif">
                                    <div class="container w-75 mb-2">
                                        <div class="row">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="fw-bold m-0">Exercice 1</h3>
                                                    <p class="m-0">Une nouvelle ressource a été rajoutée à la catégorie <strong>Exercice de respiration</strong>.</p>
                                                    <p class="m-0 text-body-tertiary">Découvrez-la maintenant!</p>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>

                                    <div class="container w-75">
                                        <div class="row">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="fw-bold m-0">Exercice 1</h3>
                                                    <p class="m-0">Une nouvelle ressource a été rajoutée à la catégorie <strong>Exercice de respiration</strong>.</p>
                                                    <p class="m-0 text-body-tertiary">Découvrez-la maintenant!</p>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="liked.html" class="ms-2 link-light link-underline-opacity-0">Favoris</a>
                        </div>
                    </div>


                    <!-- PROFIL -->
                    <div class="dropdown show w-auto">
                        <a 
                            href="#" 
                            role="button" 
                            id="dropdownProfile" 
                            data-bs-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false" 
                            class="link-light link-underline-opacity-0">
                            Profil
                        </a>

                        <div class="dropdown-menu p-0" style="width:260px" aria-labelledby="dropdownProfile">
                            <div class="p-2 d-flex">
                                <div class="me-2">
                                    <div class="bg-secondary rounded" style="width:64px; height: 64px;">

                                    </div>
                                </div>
                                <div>
                                    <p class="m-0">Paul</p>
                                    <p class="text-body-tertiary m-0">Membre depuis 5 mois</p>
                                </div>                                
                            </div>

                        </div>
                    </div>

                    <!-- REGISTER -->
                    <!-- <div class="dropdown show w-auto">
                        <a 
                            href="#" 
                            role="button" 
                            id="dropdownRegister" 
                            data-bs-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false" 
                            class="link-light link-underline-opacity-0">
                            Se connecter
                        </a>

                        <div class="dropdown-menu p-2" style="width:260px" aria-labelledby="dropdownRegister">
                            <p class="text-center mb-2 fw-bold">Connexion</p>
                            <input type="email" name="" id="" placeholder="Email" class="form-control mb-2">
                            <input type="password" name="" id="" placeholder="Mot de passe" class="form-control mb-2">
                            <p class="m-0">Pas encore de compte ? <a href="#" class="link-primary link-underline-opacity-0">S'inscrire</a></p>
                        </div>
                    </div> -->

                </div>                
            </div>
        </header>

        <div class="flex-grow-1">
            <div class="container h-100">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="m-0 editable">Page de contenu</h1>
                        <div>
                            <p class="text-body-tertiary m-0">Il y a 3 mois par <strong>Paul</strong>.</p>
                        </div>
                    </div>
                    <p class="text-body-tertiary editable">Sous-titre explicatif</p>
                </div>

                <div>
                    <h4 class="editable">Lorem ipsum dolor sit amet</h4>
                    <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="link-primary">Maecenas</span> consectetur velit vel massa finibus rhoncus. Duis nisi metus, ornare egestas cursus et, commodo quis augue. Vivamus tincidunt leo tempor lacus bibendum, at feugiat turpis malesuada. Aliquam erat volutpat. Phasellus eu ex mattis, suscipit nisi rhoncus, blandit mauris. Morbi ullamcorper mi quis nisi viverra bibendum. Proin eleifend diam ut dolor efficitur, vel imperdiet orci volutpat. In id tincidunt velit. Sed non maximus neque.</p>
                    <p class="editable">Donec faucibus, justo at consectetur hendrerit, enim enim euismod quam, eget eleifend tortor est at enim. Duis at condimentum eros. Cras porta orci non orci accumsan egestas. Aliquam finibus placerat diam, non fringilla libero eleifend ut. <span class="link-primary">Vestibulum bibendum placerat ultrices</span>. Nunc a sem condimentum eros aliquam pellentesque porta vitae nisi. Maecenas nec feugiat justo. Vivamus varius at nibh ut cursus. Nam scelerisque, eros a tempus vestibulum, est diam cursus lorem, ac molestie elit nulla nec mi. Aliquam erat volutpat. Phasellus non ligula quis metus tristique vestibulum. Sed in nunc scelerisque neque placerat pulvinar nec sed sem.</p>
                    
                    <h4 class="editable">Phasellus cursus condimentum sodales</h4>
                    <p class="editable">Phasellus cursus condimentum sodales. Cras eget mauris posuere, malesuada ex ac, ullamcorper lacus. Fusce blandit arcu ante. Suspendisse eu orci eget velit euismod volutpat. Donec eget <span class="link-primary">rhoncus sapien</span>. Proin augue arcu, laoreet vitae tincidunt eget, imperdiet ac enim. Nunc ipsum ligula, suscipit eleifend quam ac, scelerisque gravida ante. Vivamus elementum accumsan nulla, ut ultrices nisi egestas id. Proin tempus sem id neque luctus faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc pretium hendrerit orci, at ultricies sem tincidunt vitae.</p>
                    <p class="editable">Etiam porttitor magna eget massa consectetur, eu sollicitudin nunc lacinia. Cras dignissim hendrerit orci et lobortis. Nunc euismod facilisis massa, ut vulputate elit ultricies et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque tincidunt in nunc at lacinia. Maecenas viverra est in fringilla accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="editable"> Phasellus diam purus, fringilla in neque in, venenatis interdum mauris. Phasellus mattis placerat <span class="link-primary">libero nec congue</span>. Morbi viverra risus ut massa varius, iaculis semper mi molestie. Fusce ut lectus mauris. Quisque vitae libero neque. Vestibulum faucibus vehicula mi ac efficitur. Morbi molestie interdum quam ut volutpat. Curabitur ipsum ligula, elementum sed ipsum eget, laoreet varius nisi. Aenean ullamcorper ligula id quam cursus commodo. Nam dapibus ligula id mattis lacinia. Sed viverra ut mauris vel posuere. Aliquam ac nulla non ante varius pretium a non justo. Proin aliquam ut tellus nec tristique. Nunc pulvinar risus sit amet metus blandit, <span class="link-primary">egestas suscipit urna dictum</span>.</p>
                </div>
            </div>
        </div>

        <footer class="bg-dark text-light">
            <div class="container">
                <div class="row">
                </div>                
            </div>
        </footer>
    </main>

</body>
<script src="./../src/js/jquery.min.js"></script>
<script src="./../src/js/bootstrap.bundle.min.js"></script>
<script src="./../scripts/content.js"></script>
</html>