<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESIZen</title>
    <link rel="stylesheet" href="./../src/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/style.css">
    <link rel="stylesheet" href="./../src/css/bootstrap-icons.min.css">
</head>
<body>
    <main class="d-flex flex-column" style="height:100vh">

        <header id="page_header"></header>

        <div class="flex-grow-1 py-4">
            <div class="container h-100" id="contentContainer"></div>
        </div>

        <footer id="page_footer"></footer>
    </main>

</body>
<script src="./../src/js/jquery.min.js"></script>
<script src="./../src/js/bootstrap.bundle.min.js"></script>
<script src="./../scripts/main.js"></script>
<script src="./../scripts/content.js"></script>
</html>