<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESIZen</title>
    <link rel="stylesheet" href="./../src/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/style.css">

</head>
<body>
    <main class="d-flex flex-column" style="height:100vh">

        <header class="bg-primary mb-4">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="w-auto d-flex align-items-center">
                        <a href="./../index.html" class="link-light link-underline-opacity-0">
                            <h1>CESIZen</h1>
                        </a>
                        <div class="d-flex ms-4">
                            <div class="dropdown show">
                                <a 
                                    href="#" 
                                    role="button" 
                                    id="dropdownNotif" 
                                    data-bs-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false" 
                                    class="link-light link-underline-opacity-0">
                                    Notifications
                                </a>

                                <div class="dropdown-menu bg-light-subtle" style="width:480px " aria-labelledby="dropdownNotif">
                                    <div class="container w-75 mb-2">
                                        <div class="row">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="fw-bold m-0">Exercice 1</h3>
                                                    <p class="m-0">Une nouvelle ressource a été rajoutée à la catégorie <strong>Exercice de respiration</strong>.</p>
                                                    <p class="m-0 text-body-tertiary">Découvrez-la maintenant!</p>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>

                                    <div class="container w-75">
                                        <div class="row">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="fw-bold m-0">Exercice 1</h3>
                                                    <p class="m-0">Une nouvelle ressource a été rajoutée à la catégorie <strong>Exercice de respiration</strong>.</p>
                                                    <p class="m-0 text-body-tertiary">Découvrez-la maintenant!</p>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="liked.html" class="ms-2 link-light link-underline-opacity-0">Favoris</a>
                        </div>
                    </div>


                    <a href="profile/index.html" class="w-auto link-light link-underline-opacity-0">Profile</a>
                </div>                
            </div>
        </header>

        <div class="flex-grow-1">
            <div class="container h-100">

                <!-- Content -->
                <div class="row mb-3">
                    <div class="d-flex justify-content-around">
                        <a href="#" class="link-underline link-underline-opacity-0"><h4 class="fw-bold text-primary">Pages de contenus</h4></a>
                        <a href="#" class="link-underline link-underline-opacity-0"><h4 class="fw-bold text-primary">Exercices de respiration</h4></a>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-4">
                        <div class="card shadow-sm ">
                            <div class="card-body">
                                <h5 class="card-title">Page de contenus 2</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque arcu eu consectetur congue. Ut nunc ex, varius nec dui tincidunt, sodales tincidunt tortor...</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-4">
                        <div class="card shadow-sm ">
                            <div class="card-body">
                                <h5 class="card-title">Page de contenus 2</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque arcu eu consectetur congue. Ut nunc ex, varius nec dui tincidunt, sodales tincidunt tortor...</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-4">
                        <div class="card shadow-sm ">
                            <div class="card-body">
                                <h5 class="card-title">Page de contenus 2</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque arcu eu consectetur congue. Ut nunc ex, varius nec dui tincidunt, sodales tincidunt tortor...</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-4">
                        <div class="card shadow-sm ">
                            <div class="card-body">
                                <h5 class="card-title">Page de contenus 2</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque arcu eu consectetur congue. Ut nunc ex, varius nec dui tincidunt, sodales tincidunt tortor...</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-4">
                        <div class="card shadow-sm ">
                            <div class="card-body">
                                <h5 class="card-title">Page de contenus 2</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque arcu eu consectetur congue. Ut nunc ex, varius nec dui tincidunt, sodales tincidunt tortor...</p>
                            </div>
                        </div>                        
                    </div>
                </div>
                
                
            </div>
        </div>

        <footer class="bg-dark text-light">
            <div class="container">
                <div class="row">
                </div>                
            </div>
        </footer>
    </main>
    
    </body>
    <script src="./../src/js/jquery.min.js"></script>
    <script src="./../src/js/bootstrap.bundle.min.js"></script>
    </html>