<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESIZen</title>
    <link rel="stylesheet" href="./../src/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/style.css">
    <link rel="stylesheet" href="./../src/css/bootstrap-icons.min.css">
</head>
<body>
    <main class="d-flex flex-column" style="height:100vh">


        <header id="page_header"></header>

        <div class="flex-grow-1 py-4">
            <div class="container h-100">
                <div id="contentContainer" data-type="respEx"></div>

                <div>
                    <form action="" class="card m-auto shadow-sm mb-3" style="max-width:960px">
                        <div class="card-header">
                            <h4>Paramètres</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2 mb-3">
                                <div class="col-6">
                                    <label for="respExCadency" class="form-label">Cadence de respiration</label>
                                    <input type="number" name="" id="respExCadency" class="form-control" min="2" step="1" max="20" value="4">
                                    <div class="form-text">Temps en seconde durant lequel il faut retenir sa respiration.</div>
                                </div>
                                <div class="col-6">
                                    <label for="respExRepet" class="form-label">Nombre de répétitions</label>
                                    <input type="number" name="" id="respExRepet" class="form-control" min="1" step="1" max="50" value="5">
                                    <div class="form-text">Nombre de répétitions à effectuer.</div>
                                </div>
                            </div>
    
                            <button class="btn btn-primary text-center" type="submit">Enregistrer mes préférences</button>
                        </div>
                    </form>
    
                    <div class="d-flex justify-content-center">
                        <button
                            type="button" 
                            data-bs-toggle="modal" 
                            data-bs-target="#testModal" 
                            id="exStart"
                            class="btn btn-success btn-lg">
                            Commencer l'exercice
                        </button>
                    </div>

                    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class=" fs-3 fw-bold text-center mb-3" id="exInstruction"></p>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" id="exStop" data-bs-dismiss="modal" class="btn btn-danger btn-lg mx-auto">Arrêter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <footer id="page_footer"></footer>
    </main>

</body>
<script src="./../src/js/jquery.min.js"></script>
<script src="./../src/js/bootstrap.bundle.min.js"></script>
<script src="./../scripts/main.js"></script>
<script src="./../scripts/content.js"></script>
</html>