<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESIZen</title>
    <link rel="stylesheet" href="./../src/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/style.css">
</head>
<body>
    <main class="d-flex flex-column" style="height:100vh">

        <header class="bg-primary mb-4">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="w-auto d-flex align-items-center">
                        <a href="../index.html" class="link-light link-underline-opacity-0">
                            <h1>CESIZen</h1>
                        </a>
                        <div class="d-flex ms-4">
                            <div class="dropdown show">
                                <a 
                                    href="#" 
                                    role="button" 
                                    id="dropdownNotif" 
                                    data-bs-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false" 
                                    class="link-light link-underline-opacity-0">
                                    Notifications
                                </a>

                                <div class="dropdown-menu bg-light-subtle" style="width:480px " aria-labelledby="dropdownNotif">
                                    <div class="container w-75 mb-2">
                                        <div class="row">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="fw-bold m-0">Exercice 1</h3>
                                                    <p class="m-0">Une nouvelle ressource a été rajoutée à la catégorie <strong>Exercice de respiration</strong>.</p>
                                                    <p class="m-0 text-body-tertiary">Découvrez-la maintenant!</p>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>

                                    <div class="container w-75">
                                        <div class="row">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="fw-bold m-0">Exercice 1</h3>
                                                    <p class="m-0">Une nouvelle ressource a été rajoutée à la catégorie <strong>Exercice de respiration</strong>.</p>
                                                    <p class="m-0 text-body-tertiary">Découvrez-la maintenant!</p>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="liked.html" class="ms-2 link-light link-underline-opacity-0">Favoris</a>
                        </div>
                    </div>


                    <!-- PROFIL -->
                    <div class="dropdown show w-auto">
                        <a 
                            href="#" 
                            role="button" 
                            id="dropdownProfile" 
                            data-bs-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false" 
                            class="link-light link-underline-opacity-0">
                            Profil
                        </a>

                        <div class="dropdown-menu p-0" style="width:260px" aria-labelledby="dropdownProfile">
                            <div class="p-2 d-flex">
                                <div class="me-2">
                                    <div class="bg-secondary rounded" style="width:64px; height: 64px;">

                                    </div>
                                </div>
                                <div>
                                    <p class="m-0">Paul</p>
                                    <p class="text-body-tertiary m-0">Membre depuis 5 mois</p>
                                </div>                                
                            </div>

                        </div>
                    </div>

                    <!-- REGISTER -->
                    <!-- <div class="dropdown show w-auto">
                        <a 
                            href="#" 
                            role="button" 
                            id="dropdownRegister" 
                            data-bs-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false" 
                            class="link-light link-underline-opacity-0">
                            Se connecter
                        </a>

                        <div class="dropdown-menu p-2" style="width:260px" aria-labelledby="dropdownRegister">
                            <p class="text-center mb-2 fw-bold">Connexion</p>
                            <input type="email" name="" id="" placeholder="Email" class="form-control mb-2">
                            <input type="password" name="" id="" placeholder="Mot de passe" class="form-control mb-2">
                            <p class="m-0">Pas encore de compte ? <a href="#" class="link-primary link-underline-opacity-0">S'inscrire</a></p>
                        </div>
                    </div> -->

                </div>                
            </div>
        </header>

        <div class="flex-grow-1">
            <div class="container h-100">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="m-0 editable">Exercice de respiration</h1>
                        <div>
                            <p class="text-body-tertiary m-0">Il y a 3 mois par <strong>Paul</strong>.</p>
                        </div>
                    </div>
                    <p class="text-body-tertiary editable">Sous-titre explicatif</p>
                </div>

                <div>
                    <h4 class="editable">Lorem ipsum dolor sit amet</h4>
                    <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="link-primary">Maecenas</span> consectetur velit vel massa finibus rhoncus. Duis nisi metus, ornare egestas cursus et, commodo quis augue. Vivamus tincidunt leo tempor lacus bibendum, at feugiat turpis malesuada. Aliquam erat volutpat. Phasellus eu ex mattis, suscipit nisi rhoncus, blandit mauris. Morbi ullamcorper mi quis nisi viverra bibendum. Proin eleifend diam ut dolor efficitur, vel imperdiet orci volutpat. In id tincidunt velit. Sed non maximus neque.</p>
                    <ol>
                        <li>Maecenas a iaculis nunc.</li>
                        <li>Cras vel pellentesque nulla.</li>
                        <li>Nunc quam enim, maximus id dignissim ut, molestie et neque.</li>
                        <li>Aliquam elementum.</li>
                        <li>Donec vestibulum cursus ullamcorper.</li>
                    </ol>
                </div>

                <form action="" class="card m-auto shadow-sm mb-3" style="max-width:960px">
                    <div class="card-header">
                        <h4>Paramètres</h4>
                    </div>
                    <div class="card-body">
                        <div class="row gx-2 mb-3">
                            <div class="col-6">
                                <label for="respExCadency" class="form-label">Cadence de respiration</label>
                                <input type="number" name="" id="respExCadency" class="form-control" min="2" step="1" max="20" value="4">
                                <div class="form-text">Temps en seconde durant lequel il faut retenir sa respiration.</div>
                            </div>
                            <div class="col-6">
                                <label for="respExRepet" class="form-label">Nombre de répétitions</label>
                                <input type="number" name="" id="respExRepet" class="form-control" min="1" step="1" max="50" value="5">
                                <div class="form-text">Nombre de répétitions à effectuer.</div>
                            </div>
                        </div>

                        <button class="btn btn-primary text-center" type="submit">Enregistrer mes préférences</button>
                    </div>
                </form>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-success btn-lg">Commencer l'exercice</button>
                </div>
            </div>
        </div>

        <footer class="bg-dark text-light">
            <div class="container">
                <div class="row">
                </div>                
            </div>
        </footer>
    </main>

</body>
<script src="./../src/js/jquery.min.js"></script>
<script src="./../src/js/bootstrap.bundle.min.js"></script>
<script src="./../scripts/content.js"></script>
</html>